<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Голосование</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li {{#if isMain}} class="active"{{/if}}><a href="/">Кандидаты</a></li>
      <li {{#if isStat}} class="active"{{/if}}><a href="/stat">Результаты</a></li>
    </ul>
  </div>
  </nav>