<h1>Лучшая в мире команда?</h1>

<form method="POST" action="/stat">
<p>
  <label>
    <input class="with-gap" name="teams" type="radio" value="Барселона"/>
    <span>Барселона</span>
  </label>
  </p>
  <p>
  <label>
    <input class="with-gap" name="teams" type="radio" value="Реал"/>
    <span>Реал</span>
  </label>
  </p>
  <p>
  <label>
    <input class="with-gap" name="teams" type="radio" value="Спартак" checked/>
    <span>Спартак</span>
  </label>
</p>
<button class="btn btn-primary">Голосовать</button>
</form>