<h1>Результаты</h1>
<ul class="collection with-header">
  {{#each teams}}
  <li class="collection-item">{{team}}<span class="number">{{count}}</span></li>
  {{/each}}
</ul>
<p>Всего голосов: {{totalCount}}</p>